<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			">

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>
	<!--shiro工厂-->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!--将安全管理器注入到Filter工厂-->
		<property name="securityManager" ref="securityManager"></property>
		<!--修改默认的登录页面-->
		<property name="loginUrl" value="/login.jsp"></property>
		<!--过滤配置设置-->
		<property name="filterChainDefinitions">
			<value>
				<!--shiro的拦截策略
					aurhc认证过滤的缩写
					/**authc所有的请求通过过滤策略后才能放行
					anon 匿名过滤策略器
					 过滤策略  有先后顺序的
				       logout    登出过滤器缩写  不需要写控制器代码-->
				 /user/login.do = anon
				/js/** = anon
				<!--排除静态资源-->
				/** = authc
			</value>
		</property>
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!--将自定义的realm替代默认realm当中-->
		<property name="realm" ref="myRealm"></property>
	</bean>

	<bean id="myRealm"  class="com.yangyang.utils.MyRealm">
		<!--更换凭证认证器-->
		<!--<property name="credentialsMatcher" ref="credentialsMatcher"></property>-->
	</bean>


	<!--加密凭证器-->
	<!--<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
		<!--&lt;!&ndash;指定加密策略&ndash;&gt;-->
		<!--<property name="hashAlgorithmName" value="md5"></property>-->
		<!--&lt;!&ndash;指定加密次数&ndash;&gt;-->
		<!--<property name="hashIterations" value="1024"></property>-->
	<!--</bean>-->
</beans>

